<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
    <div class="container"><a class="navbar-brand logo" href="{{ path("main") }}" style="display: flex;align-items: center;"><img src="{{ asset("assets/img/logo.png") }}" style="width: 1.2em;height: 1.2em;margin-right: 5px;">David Binaud</a><button data-toggle="collapse" class="navbar-toggler"
                                                                                                                                                                                                                                  data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ path("main") }}">Accueil</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ path("projects") }}">Projets</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ path("cv") }}">CV</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ path("contact") }}">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>