{% extends 'base.html.twig' %}

{% block title %}{{ projet.name }}{% endblock %}

{% block body %}
<main class="page project-page">
    <section class="portfolio-block project">
        <div class="container">
            <div class="heading">
                <h2>{{ projet.name }}</h2>
            </div>
            <div class="image" style="background-image:url({{ asset(projet.picUrl) }}); background-position: {{ projet.bgPosition }} !important;"></div>
            <div class="row">
                <div class="col-12 col-md-6 offset-md-1 info">
                    <div>
                        <h3>Description<em style="font-size: 15px;"><br>{{ projet.skills }}<br><br></em></h3>
                    </div>
                    {{ projet.description|raw }}
                </div>
                <div class="col-12 col-md-3 offset-md-1 meta">
                    <div class="tags">
                        {% if projet.links|length > 0%}
                            <span class="meta-heading">Liens</span>
                            {% for link in projet.links|keys %}
                                <a href="{{ projet.links[link] }}">{{ link }}</a>
                            {% endfor %}
                        {% endif %}
                    <span class="meta-heading">Date</span><span>{{ projet.date|date("d/m/Y") }}</span>
                        {% if projet.prize > 0 %}
                            <span class="meta-heading">Prix</span>
                            {% set prize_pic_url = 'assets/img/projet/prix' ~ projet.prize ~ '.jpg' %}
                            </div><img src="{{ asset(prize_pic_url) }}" style="width: 30%;">
                        {% else %}
                    </div>
                        {% endif %}

                </div>
            </div>
            <div class="more-projects">
                <h3 class="text-center">Plus de Projets</h3>
                <div class="row gallery">
                    {% for other_project in others %}
                        <div class="col-md-4 col-lg-3">
                            <div class="item"><a href="{{ path("project_show", {id: other_project.id}) }}"><img class="img-fluid scale-on-hover" src="{{ asset(other_project.picUrl) }}"></a></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {{ projet.modalRaw|raw }}
        </div>
    </section>
</main>
{% endblock %}